@import '../../../styles/mixins';

.Wood__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
}

.Wood__image {
    width: 500px;
    max-height: 500px;
    object-fit: cover;
}

.Wood__heading {
    display: flex;
    gap: 16px;
    margin-top: 32px;

    @include media(xl) {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
}
