.Aside {
    width: 250px;
    background-color: #fafafa;
}

.Aside__content {
    margin-top: 50px;
    position: sticky;
    top: 0;
}

.Aside__item {
    padding: 12px 16px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: block;
    transition: 0.2s background-color ease-in;
    border-radius: 30px;
    margin-bottom: 8px;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 8px;
    white-space: nowrap;

    &:hover {
        background-color: #e3e3e3d9;
    }
}

.Aside__item_active {
    background-color: rgba(255, 190, 92, 0.2);
}

.Aside__icon {
    color: rgb(255, 190, 92);
}

.Aside__iconComponent {
    width: 20px;
    height: 20px;
}
