@import '../../styles/mixins';

.Modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    overflow: hidden;

    @include media(sm) {
        min-width: calc(100vw - 40px);
    }
}

.Modal__header {
    padding: 20px 30px 10px;
}

.Modal__body {
    padding: 10px 30px 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Modal__row {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Modal__closeButton {
    position: absolute !important;
    top: 10px;
    right: 10px;
}