/*Customs*/
.scroll-nx {
    overflow: hidden;
    max-width: 100%;
}

.scroll-nx .img {
    min-width: 100%;
    max-width: 100%;
    overflow: auto !important;
}

.scroll-nx .img img {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .scroll-nx {
        overflow: hidden;
    }

    .scroll-nx .img {
        min-width: 100%;
        overflow: auto !important;
    }

    .scroll-nx .img img {
        width: auto !important;
        min-width: 95%;
    }
}
.table-srubi {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

@media screen and (min-width: 1600px) {
    .table-xs td {
        padding: 10px;
        font-size: 20px;
    }

    .table-srubi {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
    .table-xs td {
        padding: 8px;
        font-size: 18px;
    }

    .table-srubi {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .table-xs td {
        padding: 6px;
        font-size: 16px;
    }

    .table-srubi {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .table-xs td {
        padding: 4px;
        font-size: 16px;
    }

    .table-srubi {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .table-xs td {
        padding: 4px;
        font-size: 18px;
    }

    .table-srubi {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 20px;
    }
}

.table-xs thead {
    padding: 3px;
    font-size: 0.9em;
}

thead {
    text-align: left;
    padding: 5px;
    text-align: center;
}

td {
    padding: 5px;
    border: 1px solid #c4c4c4;
    text-align: center;
}

tbody tr:hover {
    background: #d7f4b4 !important;
    transition: 0.5s;
}

tbody tr:nth-child(odd) {
    background-color: #f1f1f1; /* Ñ„Ð¾Ð½ Ð½ÐµÑ‡ÐµÑ‚Ð½Ñ‹Ñ… ÑÑ‚Ñ€Ð¾Ðº */
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Ñ„Ð¾Ð½ Ñ‡ÐµÑ‚Ð½Ñ‹Ñ… ÑÑ‚Ñ€Ð¾Ðº */
}

@media only screen and (min-width: 1600px) {
    .vidblock {
        padding-bottom: 50px;
    }
}

.video {
    position: relative;
    float: left;
    width: 100%;
    height: 220px;
    background-color: #000000;
    margin-bottom: 15px;
}

.video__link {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__media {
    top: 0;
    left: 0;
    width: 100%;
    border: none;
}

.video__button {
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video__button-shape {
    fill: #212121;
    fill-opacity: 0.8;
}

.video__button-icon {
    fill: #ffffff;
}

.video__button:focus {
    outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
    fill: #ff0000;
    fill-opacity: 1;
}

/* Enabled */

.video--enabled {
    cursor: pointer;
}

.video--enabled .video__button {
    display: block;
}

.vidpage {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
